.container {
    margin: 0px auto;
    padding-top: 30px;
    width: 1296px;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main ul{
    display: flex;
    padding: 0px;
    list-style: none;

}

.notice_header ul {
    border: 1px solid grey;
    border-bottom: 2px solid steelblue;
}