
main {
    border-bottom: 1px solid #dddddd;
}
h2{
    margin: 0;
    font-size: 25px;
    font-weight: 300;
}
h4{
    margin: 0;
    font-size: 12px;
    color: gray;
    font-weight: 130;
}
img{
    width: auto;
    height: auto;
    max-width: 550px;
}

button {
    width: 350px;
}


.box{

    height: 500px;
    margin: 120px 100px 60px;
    padding: 50px 40px;
    width: 330px;    
}

.twoBox{
    display: flex;
    padding: 0 300px;
}
form {
    width: 300px;
}

.formContent{
    padding: 10px 10px;
}
#loginBox{
    width: 380px;
    padding: 30px 50px;
}
.checkbox{
    width: 15px;
    height: 15px;
}

.idpass {
    width: 350px;
}

#yellowBtn {
    background-color: #F5CB46;
    
}

.hr-sect {
    padding: 0px 0px;
    
    height: 18px;
	display: flex;
	flex-basis: 100%;
	align-items: center;
	color: rgba(0, 0, 0, 0.35);
	font-size: 12px;
}
.hr-sect::before,
.hr-sect::after {
	content: "";
	flex-grow: 1;
    
	background: #e5e5e5;
	height: 1px;
	font-size: 0px;
	line-height: 0px;
}

#as{
    width: 380px;
}
a{
    text-decoration: none;
    color:#555555;
    font-size: 12px;
    
}

.leftA{
    margin-right: 170px;
}

