
.container{
    
    
}

main {
    
    display: block;
    text-align: center;
    margin-left: 330px;
    margin-right: 330px;
    margin-top: 100px;
}
footer {
    font-size: 12px;
    margin-top: 8px;
}
#emailBox {
    margin: 0 350px;
    padding: 50px ;
    text-align: left;
    margin-top: 50px;
    padding-top: 50px;
    height: 430px;
}

.formContent{
    padding: 5px 0px;
}
#bars{
    display: flex;
}

input {
    margin: 0;
    padding: 0;
    border:0;
    width: 330px;
    
}


#emailInputs {
    padding-bottom: 0;
    border-bottom: 1px solid #dddddd;
}
ul{
    font-size: 10px;
    color: gray;
    padding-left: 17px;
    
}
ul > li {
    text-align: left;
    
}

#as {
    padding-top: 0;
}
.footerContents{
    font-size: 8px;
    color: rgba(0,0,0,0.9);
}
a{
    
    color: black;
    font-size: 14px;
    
}
button {
    width: 450px;
    margin-top: 25px;
    padding: 5px 0px;
}
#certification {
    margin-left: 35px;
    margin-right: 0;
    border: 1px solid #dddddd;
    width: 80px;
    height: 30px;
    border-radius: 20px;
    background-color: white;
}

progress {
    -webkit-appearance: none;
    
    height: 7px;
    
  }
  
  ::-webkit-progress-bar {
      border: 1px solid white;
      border-radius: 5px;
    background-color: #dddddd;
  }
  
  ::-webkit-progress-value {
    border: 1px solid #333333;
    border-radius: 5px;
    background-color: #333333;
  }
  
/*------------pass-----------------*/
#passInputs {
    border-bottom: 0;
}
#passInput {
    border-bottom: 1px solid #dddddd;
}