@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');


body {
    margin-left: 0px;
    margin-right: 0px;
    font-size: 16px;
    font-family: 'Noto Sans KR', sans-serif;
}



main{
    
    display: flex;
    
}

footer{
    display: inline-block;
    text-align: center;
    
    width: 1920px;

    
    font-size: 8px;
    font-weight: 200;
    color: rgba(0,0,0,0.9);
}




.footerContents{
    
    list-style-type: none;
    
    margin-left: 20px;
    justify-content: center;
    height: 12px;
}

h6{
    display: inline;
    margin: 10px 160px;
    color: gray;
}
input{
    
    margin: 5px;

    border: 0px;
    border-bottom: 1px solid #d3d3d3;
    height: 40px;
    font-size: 16px;
    font-weight: bold;
    
    
}

.formBox {
    
    border: 1px solid #d3d3d3;
}
button{
    
    height: 50px;
    border-radius: 5px;
    border: 0;
    margin: 10px;
}








